<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>About Us</h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, cum quasi
      debitis, quae laudantium molestiae quisquam non officiis dolorum officia
      quod quos placeat.
    </div>
  </body>
</html>
