<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Contact Us</h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nobis
      sed unde fugiat suscipit, labore itaque eius hic veniam consequatur rerum
      maxime inventore animi laboriosam sit harum aspernatur similique. Culpa
      dolore, fuga rem debitis quos quo. Magni illum incidunt cum non iure
      facilis, natus ducimus.
    </div>
  </body>
</html>
