<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Privacy Policy</h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
      reiciendis similique culpa doloribus perferendis blanditiis nulla
      distinctio nisi libero alias nobis quidem repudiandae deserunt laboriosam,
      enim ipsam totam expedita nostrum at laudantium officia et vitae obcaecati
      quasi. Modi sed at nisi quaerat, necessitatibus sapiente incidunt!
    </div>
  </body>
</html>
