<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms & Conditions</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Terms & Conditions</h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium hic
      sapiente saepe rerum quod distinctio nihil at tempore, facilis odio,
      voluptatem inventore perspiciatis, labore ipsum consequuntur nulla
      aspernatur natus molestiae minima ducimus? Dolores officiis error
      cupiditate incidunt consectetur natus! Debitis aspernatur voluptatum modi
      voluptates rem.
    </div>
  </body>
</html>
